<div class="sidebar-collapse">
			<fieldset id="cjdw-jsdw">
				<legend>建设单位</legend>
				<table id="jsdw">
				</table>
			</fieldset>
			<fieldset id="cjdw-qtcjdw">
				<legend>其他参建单位</legend>
				<div class="module-group">
					<span class="group-title" style="width: 90px;">施工标段:</span>
					<select data-toggle="selector" data-url="constructionSection/s1006" data-params='{}' id="sectionid" style="width:150px;" class="module-select group-select">
					</select>
				</div>
				<table id="qtcjdw">
				</table>
			</fieldset>
</div>
<script src="js/controller/ProjectInfomation/cjdw.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>