<div class="sidebar-collapse">
	<div class="text-center m-t-md">
		<form id="pfqk-form" data-validator-option="{msgClass: 'n-bottom myClass'}">
			<fieldset id="kypf">
				<!--<legend>可研批复</legend>-->
				<legend>
					<span class="l-kypf">
						可研批复
					</span>
				</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 100%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复单位:</span>
						<input type="text" name="replyunits" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>

				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复文号:</span>
						<input type="text" name="replynum" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复时间:</span>
						<input type="text" name="replytime" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon"
							data-rule="required;">
					</div>
				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group w100 fl">
						<span class="group-title tr pr20" style="width: 120px;">附件:</span>
						<input id="replyfile" data-toggle="uploader-file" type="file" name="replyfile" class="layui-upload-file">
					</div>
				</div>

			</fieldset>

			<fieldset id="cspf">
				<legend>
					<span class="l-cspf">初设批复</span>
				</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 100%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复单位:</span>
						<input type="text" name="replyunits1" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>

				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复文号:</span>
						<input type="text" name="replynum1" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复时间:</span>
						<input type="text" name="replytime1" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon"
							data-rule="required;">
					</div>
				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group w100 fl">
						<span class="group-title tr pr20" style="width: 120px;">附件:</span>
						<input id="replyfile1" data-toggle="uploader-file" type="file" name="replyfile1" class="layui-upload-file">
					</div>
				</div>
			</fieldset>
			<fieldset id="sgtpf">
				<legend>
					<span class="l-sgtpf">施工图批复</span>					
				</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 100%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复单位:</span>
						<input type="text" name="replyunits2" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>

				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复文号:</span>
						<input type="text" name="replynum2" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复时间:</span>
						<input type="text" name="replytime2" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon"
							data-rule="required;">
					</div>
				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group w100 fl">
						<span class="group-title tr pr20" style="width: 120px;">附件:</span>
						<input id="replyfile2" data-toggle="uploader-file" type="file" name="replyfile2" class="layui-upload-file">
					</div>
				</div>
			</fieldset>
			<fieldset id="kgbgpf">
				<legend>
					<span class="l-kgbgpf">开工报告批复</span>	
					
				</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 100%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复单位:</span>
						<input type="text" name="replyunits3" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>

				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复文号:</span>
						<input type="text" name="replynum3" class="group-input module-input"
							data-rule="required;length[~20]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr20" style="width: 120px;"><i>*</i>批复时间:</span>
						<input type="text" name="replytime3" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon"
							data-rule="required;">
					</div>
				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group w100 fl">
						<span class="group-title tr pr20" style="width: 120px;">附件:</span>
						<input id="replyfile3" data-toggle="uploader-file" type="file" name="replyfile3" class="layui-upload-file">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="module-line-box clear  tc" id="footer" style="padding-top: 16px; margin-bottom: 0px;">
		<div class="btn-group">
			<permission opt="replysituation_edit"><button type="button" id="pfqksave" class="btn btn-save">保存</button></permission>
		</div>
		<div class="btn-group ml20" style="display: none;">
			<button type="button" id="export" class="btn  btn-default" style="display: none;">导出</button>
		</div>
	</div>
</div>
<script src="../../../js/controller/util/uploader.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>