
<div class="sidebar-collapse" id="zygcnrhsl_hlj">
	<div class="text-center m-t-md">
		<form id="zygcnrhsl-form" data-validator-option="{msgClass: 'n-bottom myClass'}">
			<fieldset id="ljgc">
				<legend>路基工程 </legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>区间-填方（立方米）:</span>
						<input type="text" name="intervalfill" class="group-input module-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>区间-挖方（立方米）:</span>
						<input type="text" name="intervalexcavation" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</div>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>站场-填方（立方米）:</span>
						<input type="text" name="stationfill" class="group-input module-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>站场-挖方（立方米）:</span>
						<input type="text" name="stationexcavation" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</div>
			</fieldset>
			<fieldset id="ql">
				<legend>桥梁</legend>
				<div class="module-line-box clear p10 content">
					<!--<div class="module-group  fl" style="width: 40%;">
							<span class="group-title tr pr10" style="width: 70px;"><i>*</i>特大桥（延米/座）:</span>
							<input type="text" name="extralargebridge" class="group-input module-input" data-rule="required;length[~10]">
							<span class="group-title tr ">（延米）</span>
					</div>
					<div class="module-group  fl" style="width: 30%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>大桥（延米/座）:</span>
						<input type="text" name="largebridge" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 30%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>中桥（延米/座）:</span>
						<input type="text" name="mediumbridge" class="module-input group-input" data-rule="required;length[~10]">
					</div>-->									
					<div class="module-group fl pl15" style="width: 34%; text-align: left;">
						<span class="" style="width: 50px;"><i style="color: red;">*</i>特大桥:</span>
						<input type="text" name="extralargebridge" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（延米）</span>
						<input type="text" name="extralargebridgeplace" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（座）</span>
					</div>
					<div class="module-group fl" style="width: 32%; text-align: left;">
						<span class="" style="width: 60px;"><i style="color: red; display: inline-block;" >*</i>大桥:</span>
						<input type="text" name="largebridge" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（延米）</span>
						<input type="text" name="largebridgeplace" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（座）</span>
					</div>
					<div class="module-group fl" style="width: 34%; text-align: left">
						<span class="" style="width: 60px;"><i style="color: red; margin-right: 1px;">*</i>中桥:</span>
						<input type="text" name="mediumbridge" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（延米）</span>
						<input type="text" name="mediumbridgeplace" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（座）</span>
					</div>																			
				</div>
			</fieldset>
			<fieldset>
				<fieldset id="sd" style="width: 40%;" class="fl">
					<legend>隧道</legend>
					<!--<div class="module-line-box clear p10 content">
						<div class="module-group  fl" style="width: 100%;">
							<span class="group-title tr pr10" style="width: 180px;"><i>*</i>隧道（延米/座）:</span>
							<input type="text" name="tunnel" class="group-input module-input" data-rule="required;length[~10]">
						</div>
					</div>-->
					
					<div class="module-group fl" style="width: 100%; text-align: left">
						<span class="ml20" style="width: 50px;"><i style="color: red;">*</i>隧道:</span>
						<input type="text" name="tunnel" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（延米）</span>
						<input type="text" name="tunnelplace" class="w20 module-input" data-rule="required;length[~10]">
						<span class="">（座）</span>
					</div>
					
					
				</fieldset>
				<fieldset id="gd" style="width: 50%;" class="fl">
					<legend>轨道</legend>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width:140px;"><i>*</i>正线（公里）:</span>
						<input type="text" name="positiveline" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>站线（公里）:</span>
						<input type="text" name="stationline" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</fieldset>
			</fieldset>
			<fieldset id="txxh">
				<legend>通信信号</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>通信干线（公里）:</span>
						<input type="text" name="communicationtrunk" class="group-input module-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>通信站（站）:</span>
						<input type="text" name="communicationstation" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>自闭线路（公里）:</span>
						<input type="text" name="selfclosingline" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>电气集中（站）:</span>
						<input type="text" name="electricalconcentration" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</div>
			</fieldset>
			<fieldset id="dljqygd">
				<legend>电力及牵引供电</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>电力线路（公里）:</span>
						<input type="text" name="powerline" class="group-input module-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>接触网（条公里）:</span>
						<input type="text" name="catenary" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>牵引变电所（个）:</span>
						<input type="text" name="tractionsubstation" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</div>
			</fieldset>
			<fieldset id="dlgc">
				<legend>大临工程</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>制梁场（座）:</span>
						<input type="text" name="makebeamfield" class="group-input module-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>轨道板场（座）:</span>
						<input type="text" name="trackplatefield" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>钢梁拼装场（个）:</span>
						<input type="text" name="steelbeamassemblyfield" class="module-input group-input" data-rule="required;length[~10]">
					</div>
					<div class="module-group  fl" style="width: 25%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>铺轨基地（个）:</span>
						<input type="text" name="layingbase" class="module-input group-input" data-rule="required;length[~10]">
					</div>
				</div>
			</fieldset>
			<fieldset id="zf">
				<legend>站房</legend>
				<div class="module-line-box clear p10 content">
					<div class="module-group  fl" style="width: 50%;">
						<span class="group-title tr pr10" style="width: 180px;"><i>*</i>站房（平米/座）:</span>
						<input type="text" name="station" class="group-input module-input" data-rule="required;length[~10]">
					</div>

				</div>
			</fieldset>
		</form>
	</div>
	<div class="module-line-box clear pt10 tc" id="footer">
		<div class="btn-group">
			<permission opt="contentquantity_edit"><button type="button" id="zygcnrhslsave" class="btn btn-save">保存</button></permission>
		</div>
		<div class="btn-group ml20" style="display: none;">
			<button type="button" id="export" class="btn  btn-default" style="display: none;">导出</button>
		</div>
	</div>
</div>