<!--车站编辑-->
<form id="workpoint_cz_edit" data-validator-option="{msgClass: 'n-bottom myClass'}">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 120px;">站名:</span>
					<input name="name" type="text" class="group-input module-input"
						data-rule="required;length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 120px;">中心里程:</span>
					<input name="centermileage" type="text" class="group-input module-input"
						data-rule="required;length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 120px;">车站类型:</span>
					<input name="stationtype" type="text" class="group-input module-input"
						data-rule="required;length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 120px;">主要工程数量:</span>
					<input name="mainnumber" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 120px;">站房面积:</span>
					<input name="stationarea" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
			</div>
		</div>
	</div>
</form>