<!--大临工程编辑-->
<form id="workpoint_gdgc_edit" data-validator-option="{msgClass: 'n-bottom myClass'}">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">设施名称:</span>
					<input name="name" type="text" class="group-input module-input"
						data-rule="required;length[~50];">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">地点及位置:</span>
					<input name="location" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">标准、规划及用地面积:</span>
					<input name="area" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">供应范围:</span>
					<input name="range" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">主要工程数量:</span>
					<input name="worknumber" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 180px;">主要设备配置:</span>
					<input name="deviceconf" type="text" class="group-input module-input"
						data-rule="length[~100]">
				</div>
			</div>
		</div>
	</div>
</form>