
<form id="lronCrossbar_edit" data-validator-option="{msgClass: 'n-bottom myClass'}" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					<input name="linename" type="text" class="group-input module-input"
						data-rule="required;length[~10];">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					<input name="streamtype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>中心里程:</span>
					<input name="centermileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>限高:</span>
					<input name="highlimit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>归属站段:</span>
					<input name="ascriptionstation" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>归属铁路局:</span>
					<input name="ascriptionrailway" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
			</div>
		</div>
	</div>
</form>

<form id="crossironBridge_edit" data-validator-option="{msgClass: 'n-bottom myClass'}" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					<input name="linename" type="text" class="group-input module-input"
						data-rule="required;length[~10];">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					<input name="streamtype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>中心里程:</span>
					<input name="centermileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>桥梁限重（T）:</span>
					<input name="weightlimit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>桥梁限速（km/h）:</span>
					<input name="speedlimit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>管理单位:</span>
					<input name="managementunit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
			</div>
		</div>
	</div>
</form>

<form id="protectiveFence_edit" data-validator-option="{msgClass: 'n-bottom myClass'}" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					<input name="linename" type="text" class="group-input module-input"
						data-rule="required;length[~10];">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					<input name="streamtype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>材质:</span>
					<input name="material" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>栅栏高度（m）:</span>
					<input name="high" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>起点里程:</span>
					<input name="startmileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>终点里程:</span>
					<input name="endmileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
			</div>
		</div>
	</div>
</form>

<form id="ironParallel_edit" data-validator-option="{msgClass: 'n-bottom myClass'}" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					<input name="linename" type="text" class="group-input module-input"
						data-rule="required;length[~10];">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					<input name="streamtype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>结构形式:</span>
					<input name="structuretype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>长度（公里）:</span>
					<input name="length" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>起点里程:</span>
					<input name="startmileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>终点里程:</span>
					<input name="endmileage" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
			</div>
		</div>
	</div>
</form>

<form id="lineVideo_edit" data-validator-option="{msgClass: 'n-bottom myClass'}" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					<input name="linename" type="text" class="group-input module-input"
						data-rule="required;length[~10];">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					<input name="streamtype" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>摄像头位置:</span>
					<input name="location" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>设备管理单位:</span>
					<input name="managementunit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>盯控单位:</span>
					<input name="stareunit" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>备注:</span>
					<input name="remark" type="text" class="group-input module-input"
						data-rule="required;length[~10]">
				</div>
			</div>
		</div>
	</div>
</form>