<div class="wrapper-content-tabs" id="fhgc">

	<div class="panel-body">
		<div class="tabs-container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" id="crossironBridge" href="#fhgc-table-div" aria-expanded="true">公跨铁桥梁工程</a>
				</li>
				<li class="">
					<a data-toggle="tab" id="lronCrossbar" href="#fhgc-table-div" aria-expanded="false">铁跨公防撞架</a>
				</li>
				<li class="">
					<a data-toggle="tab" id="protectiveFence" href="#fhgc-table-div" aria-expanded="false">防护栅栏</a>
				</li>
				<li class="">
					<a data-toggle="tab" id="ironParallel" href="#fhgc-table-div" aria-expanded="false">公铁并行防护桩</a>
				</li>
				<li class="">
					<a data-toggle="tab" id="lineVideo" href="#fhgc-table-div" aria-expanded="false">沿线视频监控设施</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="fhgc-table-div" class="tab-pane active">
						<table id="fhgc-table"></table>
				</div>
			</div>
		</div>
		<!--tab页 内容区-->
		<!--tabend-->
		<!--
    	footer button
    -->
	</div>
</div>
<script src="js/controller/ProjectInfomation/workpoint/fhgc.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>