
<div id="lronCrossbar_show"  class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					${linename}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					${streamtype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>中心里程:</span>
					${centermileage}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>限高:</span>
					${highlimit}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>归属站段:</span>
					${ascriptionstation}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>归属铁路局:</span>
					${ascriptionrailway}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="crossironBridge_show"  class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					${linename}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					${streamtype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>中心里程:</span>
					${centermileage}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>桥梁限重（T）:</span>
					${weightlimit}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>桥梁限速（km/h）:</span>
					${speedlimit}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>管理单位:</span>
					${managementunit}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="protectiveFence_show"  class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					${linename}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					${streamtype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>材质:</span>
					${material}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>栅栏高度（m）:</span>
					${high}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>起点里程:</span>
					${startmileage}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>终点里程:</span>
					${endmileage}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="ironParallel_show"  class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					${linename}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					${streamtype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>结构形式:</span>
					${structuretype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>长度（公里）:</span>
					${length}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>起点里程:</span>
					${startmileage}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>终点里程:</span>
					${endmileage}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="lineVideo_show" class="hide">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>线名:</span>
					${linename}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>行别:</span>
					${streamtype}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>摄像头位置:</span>
					${location}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>设备管理单位:</span>
					${managementunit}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>盯控单位:</span>
					${stareunit}
				</div>
				<div class="module-group fl w50 mt10">
					<span class="group-title tr pr10" style="width: 170px;"><i>*</i>备注:</span>
					${remark}
				</div>
			</div>
		</div>
	</div>
</div>