<!--检查专家编辑页面-->
<div class="sidebar-collapse" id="workpoint_gdb_show">
	<div class="p10 pr20">
		<fieldset>
			<legend>工点详情</legend>
		</fieldset>
		<div class="module-line-box">
			<div class="module-group fl w100 mt10">
				<span class="group-title" style="width: 90px;">工点名称:</span>
				<input name="name" type="text" class="group-input module-input" disabled="disabled">
			</div>
			<div class="module-group fl w100 mt10">
				<span class="group-title" style="width: 90px;">工点编号:</span>
				<input name="code" type="text" class="group-input module-input" disabled="disabled">
			</div>
			<div class="module-group fl w100 mt10">
				<span class="group-title" style="width: 90px;">专业:</span>
				<input name="disciplinename" type="text" class="group-input module-input" disabled="disabled">
			</div>
		</div>
		<fieldset>
			<legend class="mt15">施工段落</legend>
		</fieldset>
		<table id="workpoint_gdb_show_table">
		</table>
	</div>
</div>