<!--过渡工程编辑-->
<form id="workpoint_gdgc_edit" data-validator-option="{msgClass: 'n-bottom myClass'}">
	<div class="sidebar-collapse">
		<div class="p10 pr20">
			<div class="module-line-box">
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">工程名称:</span>
					<input name="name" type="text" class="group-input module-input"
						data-rule="required;length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">原工程状况:</span>
					<input name="engineercondition" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">过渡方案:</span>
					<input name="transitionprogram" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">长度、标准及规模:</span>
					<input name="scale" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">主要工程数量:</span>
					<input name="worknumber" type="text" class="group-input module-input"
						data-rule="length[~50]">
				</div>
				<div class="module-group fl w100 mt10">
					<span class="group-title tr pr10" style="width: 170px;">主要设备配置:</span>
					<input name="deviceconf" type="text" class="group-input module-input"
						data-rule="length[~100]">
				</div>
			</div>
		</div>
	</div>
</form>