<!--
	作者：wuxupingvip@126.com
	时间：2016-12-22
	描述：架梁进度
-->
<div class="sidebar-collapse" id="workpoint_jljd">
		<div class="panel-body">
		<div class="module-line-box clear pt10">
			<div class="module-group fl">
				<span class="group-title" style="width: 90px;">区段:</span> <input name="segment" type="text" class="group-input module-input">
			</div>
			
			<div class="btn-group fl ml20">
				<button name="search" type="button" class="btn  btn-primary">查询</button>
			</div>
			<div class="btn-group fr ml20">
				<button name="create" type="button" class="btn  btn-default">新建</button>
			</div>
		</div>
		<table id="workpoint_jljd_table">
		</table>
	</div>
</div>

<script type="text/javascript" src="js/controller/ProjectInfomation/workpoint/jljd.js?rev=@@hash" ></script>