<!--
	作者：侯丽娇
	时间：2016-12-19
	描述：监督计划弹出层
-->

<!--弹窗类-->
<div class="layer_notice p10 pr15" id="newBuildCheck">
	<div class="sidebar-collapse">
		<form id="" data-validator-option="{msgClass: 'n-bottom myClass'}">
			<!--所有的修改都要有个唯一标识，这个唯一标识问接口对接-->
			<input type="hidden" name="id" value="" />
			<!--第一行名称和处室-->
			<!--名称-->
			<div class="module-line-box  tc pr">
				<!--<input type="text" name="name" data-rule="required;length[~50];" class="centerName" style="width: 100%;">-->
				<h1 id="nametitle"></h1>
				<div class="module-line-box wauto clear dil mt10" id="timeSlot">
					<span id="bumen" class="fl"></span>
					<i class="fl">-</i>
					<span id="shijian" class="fl"></span>
				</div>
			</div>

			<!--第三行内容项-->
			<div class="module-line-box clear  content" style="padding: 0px 30px;">
				<p class="group-title tl mb10" id="leaveMessage">留言:</p>
				<table class="layui-table" id="liuyanTable">

				</table>
			</div>

			<!--第四附件-->
			<!--
			<div class="module-line-box clear  content" style="padding: 0px 30px;">
				<div class="module-group" style="width: 100%;">
					<span class="group-title tr pr10" style="font-size: 16px;color: #1c83c6;">附件内容:</span>

				</div>
			-->
				<!--<input data-toggle="uploader-file" type="file" name="attachment" class="layui-upload-file">-->
			<!--
				<div id="cerfujian"></div>
			</div>
			-->

		</form>
	</div>
</div>
<script src="js/controller/util/uploader.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>