<div id="checkrecordShow_out">
	<fieldset>
		<legend class="tc">国家铁路局工程质量监督中心检查日记录单</legend>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">检查项目:</span><span class="fl" data-name="projectname"></span>
			</div>
		</div>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">标段名称:</span><span class="fl" data-name="sectionname"></span>
			</div>
		</div>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">建设单位:</span><span class="fl" data-name="jsdw"></span>
			</div>
		</div>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">监理单位:</span><span class="fl" data-name="jldw"></span>
			</div>
		</div>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">设计单位:</span><span class="fl" data-name="sjdw"></span>
			</div>
		</div>
		<div class="module-line-box clear content">
			<div class="module-group  fl" style="width: 100%;">
				<span class="group-title tr pr10" style="width: 120px;">施工单位:</span><span class="fl" data-name="sgdw"></span>
			</div>
		</div>
	</fieldset>
	<fieldset class="pr20 pl20">
		<legend>检查方案</legend>
		<table id="checkrecord_content"></table>
	</fieldset>
	<fieldset class="pr20 pl20">
		<legend>检查合格</legend>
		<table id="checkrecord_pass"></table>
	</fieldset>
	<fieldset class="pr20 pl20">
		<legend>检查问题</legend>
		<table id="checkrecord_problem"></table>
	</fieldset>
	<div class="pr20 pl20">
		<fieldset class="layui-elem-field site-demo-button">
			<div class="module-line-box">
				<div class="module-group" style="width: 100%;">
					<span class="group-title tr" style="width: 60px;">检查人:</span><span  data-name="JCR"></span>
				</div>
			</div>
			<div class="module-line-box">
				<div class="module-group  fl">
					<span class="group-title tr" style="width: 60px;">记录人:</span><span  data-name="JLR"></span>
				</div>
				<div class="module-group  fr">
					<span class="group-title tr pr10" style="width: 120px;">检查日期:</span><span  data-name="JCRQ"></span>
				</div>
			</div>
		</fieldset>
	</div>
</div>
