<!--
	作者：wuxupingvip@126.com
	时间：2017-03-11
	描述：监督方案选择人员
-->
<div class="sidebar-collapse">
	<div class="wrapper-content-tabs">
		<div class="panel-body">
			<div class="module-group fl w50 " style="height:450px ; ">
				<p class="tl">检查人员</p>
				<div class="sidebar-collapse" >
					<table id="checkprogram_select_jcry_table"></table>
				</div>
			</div>
			<div class="module-group fl w50 " style="height:450px ; ">
				<p class="tl">检查专家</p>
				<div class="sidebar-collapse" > 
					<table id="checkprogram_select_jczj_table"></table>
				</div>
			</div>
		</div>
	</div>
</div>

