<!--检查整改 TAB-->
<div  id="JCZG_Out">
	<div class="module-line-box ">
		<div class="module-line-box mt10 clear">
			<div class="module-group fl">
				<span class="group-title tr pr20" style="width: 90px;">创建时间:</span>
				<input type="text" name="checkstart" data-format="YYYY-MM-DD" class="module-input lh34 fl laydate-icon">
			</div>
			<div class="module-group fl">
				<span class="group-title tr pr20" style="width: 90px;">——</span>
				<input type="text" name="checkend" data-format="YYYY-MM-DD" class="module-input lh34 fl laydate-icon">
			</div>
			<div class="btn-group fl ml30">
				<button type="button" id="searchCheckCorrection" class="btn  btn-primary">查询</button>
			</div>
			<div class="btn-group fr">
				<permission opt="checkcorrection_create"><button type="button" id="addCheckCorrection" class="btn  btn-default">新建</button></permission>
			</div>
		</div>
	</div>
	<table id="checkCorrection">
	</table>
	
</div>
<script src="/js/controller/ProjectSupervision/SupervisedCheck/jczg/checkcorrection_list.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
