<!--检查整改 TAB-->
<div id="ZGHF_Out">
	<div class="module-line-box ">
		<div class="module-line-box mt10 clear">
			<div class="module-group fl">
				<span class="group-title tr pr20" style="width: 90px;">创建时间:</span>
				<input type="text" name="checkstart" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon" id="checkstart">
			</div>
			<div class="module-group fl">
				<span class="group-title tr pr20" style="width: 90px;">——</span>
				<input type="text" name="checkend" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon" id="checkend">
			</div>
			<div class="btn-group fl ml30">
				<button type="button" id="searchCheckReply" class="btn  btn-primary">查询</button>
			</div>
		</div>
	</div>
	<table id="check_reply_table">
	</table>
	
</div>
<script src="/js/controller/ProjectSupervision/SupervisedCheck/zgtz/checkreply_list.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
