<!--
	作者：wuxupingvip@126.com
	时间：2017-03-11
	描述：监督方案选择人员范围
-->
<div class="sidebar-collapse">
	<div class="wrapper-content-tabs">
		<div class="panel-body">
			<div class="module-group fl w20">
				<p class="tl">检查人员</p>
				<div class="module-slimScroll" style="  height:385px ;">
					<div class="sidebar-collapse">
						<ul id="checkprogram_fa_jcry_tree" class="ztree"></ul>
					</div>
				</div>
			</div>
			<div class="module-group fl w30 " style="height:400px ; border: 1px solid #bfe5fd; ">
				<div class="sidebar-collapse">
					<table id="checkprogram_fa_jcry_table"></table>
				</div>
			</div>
			<div class="module-group fl w20">
				<p class="tl">检查专家</p>
				<div class="module-slimScroll" style="  height:385px ;">
					<div class="sidebar-collapse">
						<ul id="checkprogram_fa_jczj_tree" class="ztree"></ul>
					</div>
				</div>
			</div>
			<div class="module-group fl w30 " style="height:400px ; ">
				<div class="sidebar-collapse">
					<table id="checkprogram_fa_jczj_table"></table>
				</div>
			</div>
		</div>
	</div>
</div>