<!--职务设置-->
<div id="JobSettings_lzh">
	<div class="wrapper-content-tabs" id="JobSettings">
		<div class="panel-body">
			<div class="module-line-box clear pt10">
				<div class="module-group fl">
					<span class="group-title" style="width: 90px;">职务名称:</span>
					<input type="text" class=" module-input" name="JobSettings" id="JobSettingsInput" placeholder="请输入职务名称">
				</div>
				<div class="btn-group fl ml20">
					<button type="button" id="JobInquireBtn" class="btn  btn-primary">查询</button>
				</div>
				<div class="fr">
					<div class="btn-group ">
						<permission opt="dutylvl_look"><button type="button" class="btn  btn-rounded" id="JobLevelBtn">级别管理</button></permission>
					</div>
					<div class="btn-group  ml30">
						<button type="button" class="btn  btn-primary" id="JobNewBtn">新建</button>
					</div>
				</div>
			</div>
			<div class="module-container">
				<div class="sidebar-collapse">
					<table id="JobTable">

					</table>
				</div>

			</div>
		</div>
		<!--弹出层-->
		<div id="JobLayer" style="display: none;">
			<form data-validator-option="{msgClass: 'n-bottom myClass'}">
				<div class="sidebar-collapse">
					<div class="module-line-box p10 pr20">
						<div class="module-group mt10 w100">
							<span class="group-title tr pr15" style="width: 100px;"><i>*</i>职务名称:</span> <input type="text" class="group-input module-input" name="name" placeholder="请输入职务名称" data-rule="required;length[~10]">
						</div>
						<div class="module-group mt10 w100">
							<span class="group-title tr pr15" style="width: 100px;"><i>*</i>级别:</span>
							<select name="dutylevelid" data-toggle="selector" data-url="dictionary/s1002" data-params="{'type':'PJOBLVL'}" data-value="" class="module-select group-select" data-rule="required;">
							</select>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!--级别管理   弹层-->
		<div id="JobLevelLayer" class="p15" style="display: none;">
			<div class="sidebar-collapse">
				<table id="JobLevelTable">
				</table>
			</div>
		</div>
		<!--级别弹层-->
		<div id="LevelLayer" style="display: none;">
			<form data-validator-option="{msgClass: 'n-bottom myClass'}">
				<div class="module-line-box p10 pr20">
					<div class="module-group mt20 w100">
						<span class="group-title tr pr15" style="width: 90px;"><i>*</i>级别:</span> <input type="text" class="group-input module-input" name="name" placeholder="请输入级别" data-rule="required;length[~10];">
					</div>
				</div>
			</form>
		</div>

	</div>
	<script src="/js/controller/InstitutionalPersonnel/JobSettings.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
</div>