<!--监督总览-单位总览-->
<style type="text/css">
	#companyPandect .project_btn span{
		cursor: pointer;
	}
</style>
<div class="wrapper-content-tabs" id="companyPandect">
	<div class="panel-body">
		<div class="module-line-box clear ">
			<label class="radio-inline">
  				<input type="radio" name="finish2"  checked="checked" value="1"> 
  				<span>在建</span>
			</label>
			<label class="radio-inline">
  				<input type="radio" name="finish2"  value="2"> 
  				<span>完工</span>
			</label>
		</div>
		<div class="companyPandect_bottom">
			<div class="module-left-box fl" style="min-width: 350px;height: 100%;">
					<table id="companyPandect_tree"></table>
			</div>
			<div class="module-right-box fr">
				<p class="text-center">请先选择左侧单位.</p>
			</div>
		</div>
	</div>
</div>


<script src="../../js/controller/InstitutionalPersonnel/PersonneChilds/gongyong.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
<script src="../../js/controller/SupervisePandect/CompanyPandect.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
