<!--监督总览-项目总览-->
<div class="wrapper-content-tabs" id="projectPandect">
	<div class="panel-body">
		<div class="module-line-box clear ">
			<label class="radio-inline">
  				<input type="radio" name="finish"  checked="checked" value="1"> 
  				<span>在建</span>
			</label>
			<label class="radio-inline">
  				<input type="radio" name="finish"  value="2"> 
  				<span>完工</span>
			</label>
		</div>
		<div class="projectPandect_bottom">
			<div class="module-left-box fl" style="min-width: 350px;height: 100%;">
				<table id="projectPandect_tree"></table>
			</div>
			<div class="module-right-box fr">
				<p class="text-center">请先选择左侧项目.</p>
			</div>
		</div>
	</div>
</div>

<script src="../../js/controller/InstitutionalPersonnel/PersonneChilds/gongyong.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>
<script src="../../js/controller/SupervisePandect/ProjectPandect.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>