<!--施工进度详情页-->
<!--2017/3/2-->

<div class="p10 pr15">
	<fieldset id="schedule-edit">
		<legend>施工进度>></legend>
		<div class="module-line-box clear ">
			<div class="module-group fl w50">
				<span class="group-title" style="width: 90px;">项目:</span>
				<span class="fl" id="projectname"></span>
			</div>

			<div class="module-group fl w50">
				<span class="group-title" style="width: 90px;">标段:</span>
				<span class="fl" id="sectionname"></span>
			</div>
		</div>
		<div class="module-line-box clear ">
			<div class="module-group fl w50">
				<span class="group-title" style="width: 90px;">年度:</span>
				<span class="fl" id="year"></span>
			</div>

			<div class="module-group fl w50">
				<span class="group-title" style="width: 90px;">月份:</span>
				<span class="fl" id="quarter"></span>
			</div>
		</div>

		<div class="module-line-box clear ">
			<div class="module-group  w100">
				<span class="group-title pr10">开累投资完成比:</span>
				<span class="fl" id="investment"></span>
			</div>
		</div>

		<div class="module-line-box clear ">
			<div class="module-group  w100">
				<span class="group-title pr10">标段形象进度:</span>
				<span class="fl" id="imageprogress" style="word-break: break-all;word-wrap: break-word;"></span>
			</div>
		</div>

		<div class="module-line-box clear " style="width: 100%;">
		</div>
	</fieldset>
</div>