<div id="menumanagement_menu" >
		<div class="module-line-box">
			<form data-validator-option="{msgClass: 'n-bottom myClass'}">
			<div class="module-group mt10 mb10">
				<span class="group-title" style="width: 110px;">字典类别:</span>
				<select id="type" name="type" style="width:150px;" class="module-select group-select">
					<option value="ORG">机构类型</option>
					<option value="CAREER">行业类型</option>
				</select>
			</div>
			<div class="module-group mt10 mb10">
				<span class="group-title" style="width: 110px;">名称:</span> <input name="name" id="value" type="text" style="width:150px;" placeholder="请输入名称" class="group-input module-input">
			</div>
			<div class="module-group mt10 mb10">
				<span class="group-title" style="width: 110px;">字典编码:</span> <input name="code" type="text" style="width:150px;" placeholder="请输入编码" class="group-input module-input">
			</div>
				</form>
		</div>
	</div>
