<!--检测机构-->
<div class="wrapper-content-tabs" id="testingfacility">
	<div class="panel-body">
		<div class="module-line-box clear">
			<div class="module-group fl">
				<span class="group-title" style="width: 90px;">机构名称:</span>
				<input type="text" id="orgName" class="module-input">
			</div>
			<div class="btn-group fl ml20">
				<button type="button" id="search" class="btn  btn-primary">查询</button>
			</div>
		</div>
	<table id="testingfacility-table"></table>
	</div>
</div>
<script src="js/controller/InstitutionalPersonnel/testingfacility.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>