<!--资料中心-->
<div id="information_lzh">
	<div class="wrapper-content-tabs" id="information">
		<div class="panel-body">
			<div class="module-line-box clear pt10" id="searchor">
				<div class="module-group fl">
					<span class="group-title" style="width: 90px;">标题:</span> <input type="text" name="title" class="group-input module-input">
				</div>
				<div class="module-group fl">
					<span class="group-title" style="width: 90px;">发布时间:</span>
					<input type="text" name="starttime" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon">
					<!--<input type="text" name="starttime" class="group-input module-input">-->
				</div>
				<div class="module-group fl">
					<span class="group-title" style="width: auto;">至:</span>
					<input type="text" name="endtime" data-format="YYYY-MM-DD" class="module-input group-input fl laydate-icon">
					<!--<input type="text" name="endtime" class="group-input module-input">-->
				</div>
				<div class="btn-group fl ml20">
					<button type="button" id="search" class="btn  btn-primary">查询</button>
				</div>
				<div class="btn-group fr ml20">
					<permission opt="document_create"><button type="button" id="save" class="btn  btn-default">新建</button></permission>
				</div>
			</div>
			<table id="information-table">
			</table>
		</div>
	</div>
</div>
<script src="js/controller/information.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>