<form data-validator-option="{msgClass: 'n-bottom myClass'}" id="document_information_mydao">
	<div class="module-line-box clear ">
		<div class="module-group  w70 mt10 mlbf15">
			<span class="group-title" style="width: 50px;">标题:</span> 
			<input type="text" id="title" name="title" class="group-input module-input"
				data-rule="required;">
		</div>
	</div>
	<div class="module-line-box clear ">
		<div class="module-group  w70 mlbf15">
			<span class="group-title" style="width: 50px;">类型:</span>
			<select name="type" id="information_type" data-toggle="selector" data-url="dictionary/s1002" data-params="{'type':'DOCUMENT'}" data-value="" class="module-select group-select"
				data-rule="required;">
			</select>
	
		</div>
	</div>
	<div class="module-line-box clear mlbf15">
		<!--<div class="module-group mlbf15 fl" style="width: auto;">-->
			<span class="group-title fl" style="width: 50px; margin-left: 10px;">内容:</span>
			
		<!--</div>-->
		<div class="tl">
				<!--<textarea name="content"  style="width:550px;" data-rule="required;length[~500];" id="LAY_demo1"></textarea>-->
				<script type="text/plain" name='content' id="myEditor" style="width:82%;height:300px; margin-left: 60px;">

				</script>
			</div>
	</div>
	<div class="module-line-box clear ">
		<div class="module-group mlbf15 w100">
			<span class="group-title" style="width: 50px;">附件:</span>
			<input data-toggle="uploader-file" data-size="1" type="file" name="file" class="layui-upload-file" id="file">
		</div>
	</div>
</form>
<script src="js/controller/util/uploader.js?rev=@@hash" type="text/javascript" charset="utf-8"></script>