<!--
	作者：wuxupingvip@126.com
	时间：2017-01-06
	描述：修改密码
-->
<form id="user_change_password_panel">
	<div class="module-line-box clear mt10 ml10">
		<div class="module-group  w100">
			<span class="group-title" style="width: 80px;">旧密码:</span> <input data-rule="required;length[6~16]" type="password" name="oldpassword" class="group-input module-input" placeholder="请输入旧密码">
		</div>
	</div>
	<div class="module-line-box clear ml10">
		<div class="module-group  w100">
			<span class="group-title" style="width: 80px;">新密码:</span> <input data-rule="required;length[6~16];" type="password" name="password" class="group-input module-input" placeholder="请输入新密码">
		</div>
	</div>
	<div class="module-line-box clear ml10">
		<div class="module-group  w100">
			<span class="group-title" style="width: 80px;">确认密码:</span> <input data-rule="required;length[6~16];" type="password" name="repassword" class="group-input module-input" placeholder="请输入确认密码">
		</div>
	</div>
</form>